# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FPS.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\mfedo\Documents\repo\course_work\FPS\.idea\.idea.FPS\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
